#grid-container {
  display: grid;
  --grid-cols: 16;
  --grid-rows: 16;
  grid-template-columns: repeat(var(--grid-cols), 1fr);
  grid-template-rows: repeat(var(--grid-rows), 1fr);
  background-color: #2196f3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.5px solid rgba(0, 0, 0, 0.8);
  aspect-ratio: 1;
}

.updated-grid-item {
  background-color: rgba(0, 0, 0, 0.8);
}

#size-selection-button {
  background-color: #eee;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 10px 20px;
  font-size: 1.15rem;
  margin: 1em;
}
